name: Publish
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Build package
        run: deno run -A ./build.tsx

      - name: Publish package
        run: deno publish